@import "../../scss/index.scss";

.ui.container {
    margin: 20px 0px;
    .input-container {
        width: 80%;
    }
    .button-container {
        margin-left: 20px;
        width: 80px;
    }

}

